canvas {
  border: solid black 3px;
  display: inline-block;
}

#game-data {
  display: inline-block;
  font-size: 20px;
  width: 200px;
  color: rgb(0,0,139);
  font-weight: bold;
  margin-left: 20px;
}

#paused, #game-over-message {
  display: none;
  color: red;
}

#score-wrapper {
  color: purple;
  font-size: 26px;
}

#start-message {
  font-size: 26px;
}

#instructions {
  text-align: center;
  font-size: 20px;
  color: rgb(0,0,139);
  width: 400px;
}



