canvas {
  border: solid black 3px;
  display: inline-block;
}

#game-data {
  display: inline-block;
  font-size: 34px;
  color: purple;
  font-weight: bold;
  margin-left: 20px;
}

#paused, #game-over-message {
  display: none;
  color: red;
}

